<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="RU">
<head>
    <title>Мои билеты</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="blocks/header :: header"></div>
<div class="container mt-4">
    <h1>Покупка билета</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Фильм</th>
            <th>Дата</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${filmName}"></td>
            <td th:text="${filmDate}"></td>
            <td th:text="${price}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Добавление формы выбора ряда и места -->
    <h2>Выберите ряд и место для покупки</h2>

    <form action="/tickets/buy" method="post" class="mt-4">

        <input type="hidden" name="sessionId" th:value="${sessionId}">
        <input type="hidden" name="userId" th:value="${userId}">

        <div class="mb-3">
            <label for="rowNumber" class="form-label">Выберите ряд:</label>
            <select id="rowNumber" name="row" class="form-select">
                <option value="">--Выберите ряд--</option>
                <th:block th:each="row : ${rows}">
                    <option th:value="${row}" th:text="${row}"></option>
                </th:block>
            </select>
        </div>

        <div class="mb-3">
            <label for="placeNumber" class="form-label">Выберите место:</label>
            <select id="placeNumber" name="place" class="form-select">
                <option value="">--Выберите место--</option>
                <th:block th:each="place : ${places}">
                    <option th:value="${place}" th:text="${place}"></option>
                </th:block>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Купить билет</button>
        <a href="/sessions" class="btn btn-secondary">Отменить</a>
    </form>

    <!-- Если пользователь не авторизован, предлагаем войти -->
    <div th:if="${user.fullName == 'Гость'}">
        <p>Для покупки билета <a href="/users/login">Войдите в систему</a>.</p>
    </div>
</div>
<div th:replace="blocks/footer :: footer"></div>
</body>
</html>