<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="RU">
<head>
    <title>Кинотека</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="blocks/header :: header"></div>
<div class="container mt-4">
    <h1>Кинотека</h1>
    <div class="row">
        <div class="col-md-4" th:each="film : ${films}">
            <div class="card mb-4">
                <img class="card-img-top" th:src="@{/files/{id}(id=${film.fileId})}" alt="Постер">
                <div class="card-body">
                    <h5 class="card-title" th:text="${film.name}"></h5>
                    <p class="card-text" th:text="${film.description}"></p>
                    <p><b>Жанр:</b> <span th:text="${film.genre}"></span></p>
<!--                    <a th:href="@{/films/{id}(id=${film.id})}" class="btn btn-primary">Подробнее</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="blocks/footer :: footer"></div>
</body>
</html>